---
const { title = "Conner Lorenz", description = "" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={description} />
		<title>{title}</title>

		<!-- your global css import -->
		<!-- example: -->
		<!-- <link rel="stylesheet" href="/styles/global.css" /> -->
	</head>

	<body class="bg-lines">
		<slot />
	</body>
</html>
